<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/thounder.jpg">
        <p>This Application, displays the weather condition for your location.</p>
        <p>It is written in <span>Node js and express</span> only, using <span>Handlebars</span> for the frontend.</p>
        <p>Enter your location in the search box, if you get incorrect location specify your location with two words</p>
        <p>Ex: country city or country state</p>
    </div>
    
    {{>footer}}
</body>

</html>